body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background-size: cover;
    animation: scroll 40s linear infinite;
    background-image: url('assets/bg.png');
    height: 100vh;
    min-width: 360px;
    width: 100%;
}
:root {
    --red: #dc6361;
    --darker-red: #a54a48;
}

@keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

img {
    pointer-events: none;
    user-select: none;
}

nav {
    padding: 10px;
    text-align: center;
    width: 100%;
    /* position: sticky; */
    top: 0px;
    z-index: 3;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.3em;
}

nav a:hover {
    color: aqua;
}

#modalBtn {
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: var(--red);
}

#toast {
    position: fixed;
    top: 25px;
    right: 60px;
}

#rotomIcon {
    width: 45px;
    height: auto;
}

#masterball {
    width: 75px;
    height: auto;
    margin-right: -20px !important;
}

.rotomdex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#rotom {
    width: 35%;
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.speech {
    position: relative;
    background: #fffeaf;
    font-size: 20px;
    filter: drop-shadow(5px 5px 2px #646464);
    text-align: center;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #f5b928;
    padding: 15px 0 15px 0;
    margin: 0 10px 10px 0;
    font-style: italic;
    z-index: 2;
    animation: float 1.5s ease-in-out infinite;
}

.speech:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #f5b928 transparent;
    top: 27%;
    left: -23px;
    margin-top: -10px;
}

.container-fluid {
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link,
.card__icon,
.card__ball {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover::after,
.card__link:hover {
    width: 100%;
    color: black;
}

.card__ball {
    grid-row: 1/2;
    justify-self: end;
}

.card__icon {
    grid-row: 2/3;
    font-size: 30px;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}

a {
    cursor: pointer;
}

/* Fondos por tipo del Pokemon*/
/* Planta */
#leaf {
    background: linear-gradient(135deg, rgba(82, 194, 52, 1) 0%, rgba(6, 23, 0, 1) 80%);
}

/* Fuego */
#fire-flame-curved {
    background: linear-gradient(135deg, rgba(241, 39, 17, 1) 0%, rgba(245, 175, 25, 1) 80%);
}

/* Agua */
#droplet {
    background: linear-gradient(135deg, rgba(0, 180, 219, 1) 0%, rgba(0, 131, 176, 1) 80%);
}

/* Normal */
#bullseye {
    background: linear-gradient(135deg, rgba(142, 158, 171, 1) 0%, rgba(238, 242, 243, 1) 80%);
}

/* Electrico */
#bolt {
    background: linear-gradient(135deg, rgba(202, 197, 49, 1) 0%, rgba(243, 249, 167, 1) 80%);
}